iframe{
  border: 5px solid white;
  box-sizing: border-box;
  transform-origin: center top;
  margin: 0;
  padding: 0;
}
h1{
  padding: auto;
  margin: auto;
  text-align: center;
  position: auto;
  font-style: underline;
}

